@if (vm$ | async; as vm) {
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table [value]="data" [lazy]="true" (onLazyLoad)="loadData($event)" [paginator]="true" [rows]="10"
                [totalRecords]="totalRecords" responsiveLayout="scroll" [first]="first" stateStorage="local"
                stateKey="consignment-list-state-local" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Consignments</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <button pButton pRipple [label]="'New Consignment'" icon="pi pi-plus" class="p-button" routerLink="create"></button>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem"></th>
                        <th>ID</th>
                        <th>Supplier Name</th>
                        <th>Supplier Email</th>
                        <th>Supplier Phone</th>
                        <th>Supplier Address</th>
                        <th>Consignment Date</th>
                        <th>Pickup Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-consignment let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="consignment" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>{{ consignment.id }}</td>
                        <td>{{ consignment.supplier.name }}</td>
                        <td>{{ consignment.supplier.email }}</td>
                        <td>{{ consignment.supplier.phoneNumber }}</td>
                        <td>{{ consignment.supplier.address }}</td>
                        <td>{{ consignment.consignmentDate | date: 'short' }}</td>
                        <td>{{ consignment.pickupDate | date: 'short' }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-consignment>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table [value]="consignment.items" dataKey="id">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="id">Id</th>
                                            <th pSortableColumn="name">Nome </th>
                                            <th pSortableColumn="description">Descrição</th>
                                            <th pSortableColumn="price">Preço </th>
                                            <th style="width: 4rem"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-order>
                                        <tr>
                                            <td>{{order.id}}</td>
                                            <td>{{order.name}}</td>
                                            <td>{{order.description}}</td>
                                            <td>{{order.price | currency:'USD'}}</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="6">There are no order for this product yet.</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
}
